{% extends "layout.html" %}
{% block nav %}
{% include "nav.tpl" %}
{% endblock %}

{% block body %}
<div class="row mt-2">
  <div class="col-sm">
    <h3 class="bg-primary text-white p-2 mb-2">Search Result</h3>
    <table class="table table-striped">
        <tr class="thead-dark">
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
          <th>Command</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book['isbn'] }}</td>
            <td>{{ book['title'] }}</td>
            <td>{{ book['author'] }}</td>
            <td>{{ book['year'] }}</td>
            <td><a class="badge badge-primary"  href="{{ url_for('searchBook') }}?isbn={{ book['isbn'] }}">view</a</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
