{% extends "layout.html" %}
{% block nav %}
{% include "nav.tpl" %}
{% endblock %}
{% block heading %}
    Book Review Site
{% endblock %}
{% block userinfo  %}
<h2 class="bg-primary text-white p-2 mb-2"  >
       Username:{{session['username']}}
</h2>
{% endblock %}
{% block body %}
{% set button_text = 'Write Your Review' %}
{% set url = url_for('registerSubmission')%}

{% if mybookreview %}
{% set button_text = 'Edit Your Review' %}
{% set url = url_for('editSubmission')%}
{% endif %}

<hr  class="my-4" />
<div class="row">
  <div class="col-sm">
    <table class="table table-striped">
        <tr class="thead-dark">
          <th>Isbn</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
        </tr>
        <tr>
          <th>{{ bookinfo["isbn"]   }}</th>
          <th>{{ bookinfo["title"]  }}</th>
          <th>{{ bookinfo["author"] }}</th>
          <th>{{ bookinfo["year"]   }}</th>
        </tr>
    </table>
  </div>
</div>

<div class="row">
    <div class="col-sm" style="overflow-x:auto;">
    <h2>Reviews</h2>
    {% if bookreviews %}
    {% for bookreview in bookreviews %}
        <p>
        {{ bookreview["username"] }} :
        {% if bookreview["rate"] == 1  %}
            ★☆☆☆☆
        {% elif bookreview["rate"] == 2 %}
            ★★☆☆☆
        {% elif bookreview["rate"] == 3 %}
            ★★★☆☆
        {% elif bookreview["rate"] == 4 %}
            ★★★★☆
        {% elif bookreview["rate"] == 5 %}
            ★★★★★
        {% endif %}
        <br>
        {{ bookreview["comment"] | nl2br }}
        </p>
    {% endfor %}
    {% else %}
        <p>No entries</p>
    {% endif %}
    </div>
</div>

<div class="row">
  <div class="col-sm">
    <a href="{{ url }}?isbn={{ bookinfo['isbn'] }}" class="btn btn-success" >{{ button_text }}</a>
  </div>
</div>


{% endblock %}
