{% extends "layout.html" %}

{% block heading %}
My Page
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm">
    <table>
      <tr>
        {% for book in books %}
            <td>{{ book['isbn'] }}</td>
            <td>{{ book['title'] }}</td>
            <td>{{ book['author'] }}</td>
            <td>{{ book['year'] }}</td>
        {% endfor %}
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <form action="{{ url_for('logout') }}" method="post">
      <input type="submit" name="logout" value="logout" />
    </form>
  </div>
</div>

{% endblock %}
