{% extends "layout.html" %}

{% block heading %}
Write your review!!
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm">
    <table class="table table-striped">
        <tr class="thead-dark">
          <th>Isbn</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
        </tr>
        <tr>
          <th>{{ isbn }}</th>
          <th>{{ title }}</th>
          <th>{{ author }}</th>
          <th>{{ year }}</th>
        </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm">
  {% if comment=="" %}
    <form action="{{ url_for('writeBookReview') }}" method="post">
  {% else %}
    <form action="{{ url_for('updateBookReview') }}" method="post">
  {% endif %}
      <input type="radio" name="rate" value="1" >Did not like it
      <input type="radio" name="rate" value="2" >It was ok.
      <input type="radio" name="rate" value="3" checked="checked">Liked it
      <input type="radio" name="rate" value="4" >Really liked it
      <input type="radio" name="rate" value="5" >It was amazing.
      <br/>
      <textarea name="comment" cols="50" rows="10" class="w-100">{{ comment }}</textarea>
      <br/>
        {% if comment=="" %}
            <input type="submit" name="submitReview" value="submitReview" />
        {% else %}
            <input type="submit" name="updateReview" value="updateReview" />
        {% endif %}
    </form>
     {% if comment!="" %}
        <form action="{{ url_for('deleteBookReview') }}" method="post">
            <input type="submit" name="deleteReview" value="deleteReview" />
        </form>
     {% endif %}
    
    <form action="{{ url_for('logout') }}" method="post">
    
        <input type="submit" name="logout" value="logout" />
    </form>
  </div>
</div>


{% endblock %}
