{% extends "layout.html" %}
{% block nav %}
{% include "nav.tpl" %}
{% endblock %}
{% block body %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    let btn = document.querySelector('#deleteBtn');
    btn.addEventListener('click', function () {
      if (!confirm("Are you sure?")) {
        return;
      } else {
        let deletionForm = document.querySelector("deleteionForm");
        document.deletionForm.submit();
      }
    });
  });
</script>

{% if is_confirmation  %}
{%     set rate    =  rate | int %}
{%     set comment = comment %}
{%     set url =url_for('updateBookReview') %}
{% else %}
{%      set url     = url_for('confirmEditEntry') %}
{%      set rate    = mybookreview['rate'] | int %}
{%      set comment = mybookreview['comment'] %}
{% endif %}
{#
<input type="text" name=""  value="{{ url }}" >
#}

<div class="row mt-2">
  <div class="col-sm">
    <table class="table table-striped">
        <tr class="thead-dark">
          <th>Isbn</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
        </tr>
        <tr>
          <th>{{ bookinfo["isbn"]   }}</th>
          <th>{{ bookinfo["title"]  }}</th>
          <th>{{ bookinfo["author"] }}</th>
          <th>{{ bookinfo["year"]   }}</th>
        </tr>
    </table>
  </div>
</div>
{# flash message  #}
<div class="row">
   <div class="col-sm">
       {% with messages = get_flashed_messages(with_categories=True) %}
         {% if messages %}
           {% for category, message in messages %}
             <div class="{{ category }}" role="alert">{{message}}</div>
           {% endfor %}
         {% endif %}
       {% endwith %}
     </div>
</div>
<div class="row">
    <div class="col-sm">
       {% if is_posted %}
        <div class="alert alert-info" role="alert"><a href="{{ url_for('searchBook') }}?isbn={{ bookinfo['isbn'] }}" >View {{ bookinfo['title'] }}'s Reviews</a></div>
      {% endif %}
    </div>
</div>

<div class="row">
  <div class="col-sm">
    <h3 class="bg-primary text-white p-2 mb-2" >Edit Your Book Review</h3>
    <form action="{{ url }}" method="post">
      <input type="hidden" name="isbn"  value="{{ bookinfo["isbn"] }}" >
      <input type="hidden" name="title" value="{{ bookinfo["title"] }}" >
      <input type="hidden" name="title" value="{{ bookinfo["author"] }}">
      <input type="hidden" name="title" value="{{ bookinfo["year"] }}" >
      {% if is_confirmation  %}
        {% if rate == 1  %}
            <input type="radio" name="rate" value="1" checked="checked"  >Did not like it.(★☆☆☆☆)
            <input type="radio" name="rate" value="2" disabled=disabled >It was ok.(★★☆☆☆)
            <input type="radio" name="rate" value="3" disabled=disabled >Liked it.(★★★☆☆)
            <input type="radio" name="rate" value="4" disabled=disabled >Really liked it.(★★★★☆)
            <input type="radio" name="rate" value="5" disabled=disabled >It was amazing.(★★★★★)
      
        {% elif rate == 2 %}
            <input type="radio" name="rate" value="1" disabled=disabled >Did not like it.(★☆☆☆☆)
            <input type="radio" name="rate" value="2" checked="checked" >It was ok.(★★☆☆☆)
            <input type="radio" name="rate" value="3" disabled=disabled >Liked it.(★★★☆☆)
            <input type="radio" name="rate" value="4" disabled=disabled >Really liked it.(★★★★☆)
            <input type="radio" name="rate" value="5" disabled=disabled >It was amazing.(★★★★★)
      
        {% elif rate == 3 %}
            <input type="radio" name="rate" value="1" disabled=disabled >Did not like it.(★☆☆☆☆)
            <input type="radio" name="rate" value="2" disabled=disabled >It was ok.(★★☆☆☆)
            <input type="radio" name="rate" value="3" checked="checked" >Liked it.(★★★☆☆)
            <input type="radio" name="rate" value="4" disabled=disabled >Really liked it.(★★★★☆)
            <input type="radio" name="rate" value="5" disabled=disabled >It was amazing.(★★★★★)

        {% elif rate == 4 %}
            <input type="radio" name="rate" value="1" disabled=disabled >Did not like it.(★☆☆☆☆)
            <input type="radio" name="rate" value="2" disabled=disabled >It was ok.(★★☆☆☆)
            <input type="radio" name="rate" value="3" disabled=disabled >Liked it.(★★★☆☆)
            <input type="radio" name="rate" value="4" checked="checked" >Really liked it.(★★★★☆)
            <input type="radio" name="rate" value="5" disabled=disabled >It was amazing.(★★★★★)

        {% elif rate == 5 %}
            <input type="radio" name="rate" value="1" disabled=disabled >Did not like it.(★☆☆☆☆)
            <input type="radio" name="rate" value="2" disabled=disabled >It was ok.(★★☆☆☆)
            <input type="radio" name="rate" value="3" disabled=disabled >Liked it.(★★★☆☆)
            <input type="radio" name="rate" value="4" disabled=disabled >Really liked it.(★★★★☆)
            <input type="radio" name="rate" value="5" checked="checked" >It was amazing.(★★★★★)
        {% endif %}
      {% else %}
        {#  既にレビューがあれば選択済にする　#}
        {% if mybookreview %}
            {% if rate == 1  %}
                <input type="radio" name="rate" value="1" checked="checked"  >Did not like it.(★☆☆☆☆)
                <input type="radio" name="rate" value="2"  >It was ok.(★★☆☆☆)
                <input type="radio" name="rate" value="3"  >Liked it.(★★★☆☆)
                <input type="radio" name="rate" value="4"  >Really liked it.(★★★★☆)
                <input type="radio" name="rate" value="5"  >It was amazing.(★★★★★)
        
            {% elif rate == 2 %}
                <input type="radio" name="rate" value="1"  >Did not like it.(★☆☆☆☆)
                <input type="radio" name="rate" value="2" checked="checked" >It was ok.(★★☆☆☆)
                <input type="radio" name="rate" value="3" 　>Liked it.(★★★☆☆)
                <input type="radio" name="rate" value="4" 　>Really liked it.(★★★★☆)
                <input type="radio" name="rate" value="5" 　>It was amazing.(★★★★★)
        
            {% elif rate == 3 %}
                <input type="radio" name="rate" value="1" >Did not like it.(★☆☆☆☆)
                <input type="radio" name="rate" value="2" >It was ok.(★★☆☆☆)
                <input type="radio" name="rate" value="3" checked="checked" >Liked it.(★★★☆☆)
                <input type="radio" name="rate" value="4" >Really liked it.(★★★★☆)
                <input type="radio" name="rate" value="5" >It was amazing.(★★★★★)
    
            {% elif rate == 4 %}
                <input type="radio" name="rate" value="1" >Did not like it.(★☆☆☆☆)
                <input type="radio" name="rate" value="2" >It was ok.(★★☆☆☆)
                <input type="radio" name="rate" value="3" >Liked it.(★★★☆☆)
                <input type="radio" name="rate" value="4" checked="checked" >Really liked it.(★★★★☆)
                <input type="radio" name="rate" value="5" >It was amazing.(★★★★★)
    
            {% elif rate == 5 %}
                <input type="radio" name="rate" value="1" >Did not like it.(★☆☆☆☆)
                <input type="radio" name="rate" value="2" >It was ok.(★★☆☆☆)
                <input type="radio" name="rate" value="3" >Liked it.(★★★☆☆)
                <input type="radio" name="rate" value="4" >Really liked it.(★★★★☆)
                <input type="radio" name="rate" value="5" checked="checked" >It was amazing.(★★★★★)
            {% endif %}
        {% else %}
           
        
        {% endif %}
      
      {% endif %}
      <br/>
      <textarea name="comment" cols="50" rows="10" class="w-100 {% if is_confirmation %} bg-light {% endif %}" {% if is_confirmation %} readonly {% endif %}>{{ comment }}</textarea>
      <br/>
      <input type="submit" name="submitReview" class="btn btn-success  float-left" value="{% if is_confirmation %} Post My Book Review {% else %}  Confirm Input Data  {% endif %}" {% if is_posted %} disabled=disabled {% endif %} />
    </form>
    <form name="deletionForm" action="{{ url_for('deleteBookReview') }}" method="post">
        <input type="hidden" name="isbn"  value="{{ bookinfo["isbn"] }}" >
        <button type="button" id="deleteBtn" class="btn btn-outline-danger">Delete My Book Review</button>
    </form>
  </div>
</div>


{% endblock %}
