{% extends "layout.html" %}

{% block heading %}
    Book Review Site
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm ">
          {% if  message  %}
            <div class="alert alert-danger" role="alert">{{message}}</div>
          {% endif %}
          <h2 class="bg-primary text-white p-2 mb-2">Login Form</h2>
        </div>
    </div>
    <div class="row">
          <form action="{{ url_for('login') }}" method="post">
              <div class="form-group col-sm">
                    <label for="username">User Name</label>
                    <input id="username" type="text" class="h-100 w-100 p-3" name="username"  class="form-control" placeholder="Enter username here">
              </div>
              <div class="form-group col-sm">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="h-100 w-100 p-3" name="password"  class="form-control" placeholder="Enter password Here">
              </div>
              <div class="form-group col-sm">
                  <button class="btn btn-primary btn-lg ">Login</button>
              </div>
              <div class="form-group col-sm">
                <a href="{{ url_for('register') }}">Register your account</a>
              </div>
          </form>
    </div>
{% endblock %}
