{% extends "layout.html" %}
{% block heading %}
    Book Review Site
{% endblock %}
{% block body %}
      <div class="row">
        <div class="col-sm ">
          <h2 class="bg-primary text-white p-2 mb-2">My Account</h2>
        </div>
      </div>
      <!-- </div> -->
      <div class="row">
        <div class="col-sm">
          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
          <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="row">
      <div class="col-sm">
          <form action="" method="post">
            <div class="form-group ">
                <label for="username" >Username</label>
                <input type="text" class="h-100 w-100 p-3" id="username" name="username" placeholder="" value="{{ session['username'] }}" >
            </div>
            <div class="form-group ">
                <label for="firstname" >Firstname</label>
                <input type="text" class="h-100 w-100 p-3"  name="firstname" placeholder="" value="{{ session['firstname'] }}" >
            </div>
            <div class="form-group ">
                <label for="lastname" >Lastname</label>
                <input type="text" class="h-100 w-100 p-3"  name="lastname" placeholder="" value="{{ session['lastname'] }}" >
            </div>
            <div class="form-group ">
                <label for="password" >Password</label>
                <input type="password" class="h-100 w-100 p-3" name="password" placeholder="" value="{{ session['password'] }}" >
            </div>
            <div class="form-group ">
                <label for="password2" >Confirm Password</label>
                <input type="password" class="h-100 w-100 p-3"  name="confirmPassword" placeholder="same password Here">
            </div>
            <div class="form-group ">
                <div class="alert alert-info" role="alert"><a href="{{ url_for('editUserAccount') }}" >Edit User Account</a></div>
                
            </div>
          </form>
        </div>
    </div>
      
{% endblock %}
